[Unit]
Description=WireGuard Performance Analyzer Timer
[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true
[Install]
WantedBy=timers.target
